node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
/coverage
.next/
dist
.DS_Store
*.pem
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.idea
.vscode
